@font-face {
  font-family: 'Roboto';
  src: url('../../public/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../../public/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: 'Roboto', "Helvetica Neue";
  line-height: 1.5em;
  font-size: 1em;
}

html, body {
  background-color: #e8e8e8;
  background: url(../../public/redwood.png);
  background-size: cover;
  background-position: left center;
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  min-height: 100vh;
  color: #333;
}

main {
  padding: 10px 20px 20px 20px;
}