.page-title {
  color: #faf1e9;
  font-size: 1.6em;
}

.page-desc {
  color: #faf1e9;
  font-size: 0.7em;
}

.hello-robot {
  height: 50vh;
  /* hexa to filter:
     https://codepen.io/sosuke/pen/Pjoqqp
  */
  filter: invert(87%) sepia(13%) saturate(138%) hue-rotate(116deg) brightness(102%) contrast(81%);
}